body {
    background-color: #fefae0;
    margin: 50px 0 50px 0;
}
.header {
    display: flex;
}
#followMeDropdown {
    background-color: #faedcd;
    transition-property: background-color;
}
#followMeDropdown:hover {
    background-color: #d4a373;
}
#home {
    background-color: #faedcd;
    transition-property: background-color;
}
#home:hover {
    background-color: #d4a373;
}
#subscriptionForm {
    margin-top: 100px;
}
/* placeholder selector */
::placeholder {
    background-color: #faedcd;
}